/* main color: #2E2F42 
p: #434455
footer p: #F4F4FD
white: #ffffff
color hover: blue
*/
:root {
  --main-color: #2e2f42;
  --p: #434455;
  --footer-p: #f4f4fd;
  --white: #ffffff;
  --color-hover: blue;
  --bgc-btn: #4d5ae5;
}

ul {
  list-style: none;
}
a {
  text-decoration-line: none;
}
.nav-site a {
  color: var(--main-color);
}
.nav-site a:hover,
.nav-site a:focus {
  color: var(--color-hover);
}
.info a {
  color: var(--p);
}
.info a:hover,
.info a:focus {
  color: var(--color-hover);
}
.section-hero {
  background-color: var(--main-color);
}
.section-title {
  color: var(--white);
}
.button {
  color: var(--white);
  background-color: var(--bgc-btn);
}
.section h2 {
  display: none;
}
.section-description h3 {
  color: var(--main-color);
}
.section-description p {
  color: var(--p);
}
.examples h2 {
  color: var(--main-color);
}
.section-team {
  background-color: #f4f4fd;
}
.section-team h2 {
  color: var(--main-color);
}
.section-team p {
  color: var(--p);
}
.section-team h3 {
  color: var(--main-color);
}
.footer {
  background-color: var(--main-color);
}
.footer p {
  color: var(--footer-p);
}
.Web {
  color: #4d5ae5;
}
.Studio {
  color: #f4f4fd;
}
.Studio-header {
  color: #2e2f42;
}
