.header {
  height: 72px;
}
.nav-logo {
  margin-top: 24px;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-top: 24px;
}

.nav-position {
  display: flex;
  justify-content: space-between;
  height: 72px;
}

.nav {
  display: none;
  &__info {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  .menu-button {
    display: none;
  }

  .nav {
    display: flex;
    margin-top: 24px;

    &__list {
      display: flex;
    }
    &__info {
      display: block;
      margin-top: 16px;
      &--color a {
        font-family: Roboto;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 4%;
        text-align: start;
        color: #434455;
      }
    }
    &__number a {
      margin-top: 12px;
    }
    &__link a {
      font-family: Roboto;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-align: start;
      color: #2e2f42;
    }
    &__link:not(:last-child) {
      margin-right: 40px;
    }
  }
}
