.section-customers {
  margin-top: 96px;
  margin-bottom: 96px;
}
.section-customers__h {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;

  margin-bottom: 72px;
}

.section-customers__imgs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  align-items: center;
  justify-content: center;
  gap: 72px 16px;
}

.section-customers__imgs-item {
  display: block;
}

@media screen and (min-width: 428px) {
  .section-customers {
    &__imgs {
      width: 396px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media screen and (min-width: 768px) {
  .section-customers {
    &__imgs {
      width: 618px;
      gap: 72px 24px;
      &-item {
        width: 168px;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .section-customers {
    margin-top: 120px;
    margin-bottom: 120px;
    &__imgs {
      flex-wrap: nowrap;
      width: 1128px;
      gap: 0px 24px;
      &-item {
        width: 168px;
      }
    }
  }
}
