.section-ourteam {
  background-color: #f4f4fd;
  text-align: center;
  padding-bottom: 96px;
}
.section-ourteam__h {
  padding-top: 96px;
  margin-bottom: 72px;

  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}

.section-ourteam__item-card {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  max-width: 264px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 10px, 10px, 10px, 10px, rgba(46, 47, 66, 0.16);
}

.section-ourteam__item-card:not(:last-child) {
  margin-bottom: 72px;
}

.item-card__h {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-top: 32px;
  margin-bottom: 8px;
  color: #2e2f42;
}
.item-card__p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
  color: #434455;
}
.item-card__source {
  display: flex;
  justify-content: center;
  padding-bottom: 32px;
}

.item-card__source-item {
  width: 40px;
  height: 40px;
}
.source-item__svg {
  width: 40px;
  height: 40px;

  fill: white;
}
.item-card__source-item:not(:last-child) {
  margin-right: 24px;
}
.item-card__img {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .section-ourteam {
    &__item {
      display: flex;
      flex-wrap: wrap;
      width: 552px;
      gap: 64px 24px;
      margin-right: auto;
      margin-left: auto;
      &-card:not(:last-child) {
        margin-bottom: 0px;
      }
    }
  }
}
@media screen and (min-width: 1440px) {
  .section-ourteam {
    padding-bottom: 120px;
    &__h {
      padding-top: 120px;
    }
    &__item {
      width: 1128px;
      padding-left: auto;
      padding-right: auto;
      gap: 0px 24px;
    }
  }
}
